<div class="jumbotron">
  <div *ngIf="selectedPrimaryMission; else primaryMissionSelector">
    
      
        <h3>Primary Mission: {{ selectedPrimaryMission.Name }}({{ selectedPrimaryMission.PrimaryObjective.Type }}) <button class="btn btn-danger" (click)="cancelPrimaryMission()">Cancel</button></h3>
        <div class="row">
        
        <ul class="col-8">
          <li class="card-text" *ngFor="let objItm of selectedPrimaryMission.PrimaryObjective.ObjectiveList">{{ objItm }}</li>
        </ul>
        <img *ngIf="selectedPrimaryMission.MissionMap" src='{{ "/assets/images/" + selectedPrimaryMission.MissionMap }}' class="img col-4"/>
      </div>
    </div>
  <ng-template #primaryMissionSelector>
      <h3>Primary Mission</h3>
      <div class="card-group">
        <div class="card border-info" *ngFor="let pm of validPrimaryMissions">
          <div class="card-title card-header">
            <h4>{{ pm.Name }}</h4>
          </div>
          <img *ngIf="pm.MissionMap" src='{{ "/assets/images/" + pm.MissionMap }}' class="img" />
          <div class="card-body text-info">
            <p class="card-text">{{ pm.PrimaryObjective.Name }}({{ pm.PrimaryObjective.Type }})</p>
            <ul>
              <li class="card-text" *ngFor="let objItm of pm.PrimaryObjective.ObjectiveList">{{ objItm }}</li>
            </ul>
            <button class="btn btn-primary" (click)="setPrimaryMission(pm)">Choose {{ pm.Name }}</button>
          </div>
        </div>
      </div>
    
  </ng-template>
</div>
