

<div *ngIf="missionType; else missionTypeSelector">
    <div class="jumbotron">
        <h2>Mission Size: {{ missionType.Name }} ({{missionType.MinSize}}-{{missionType.MaxSize}}) <button (click)="cancelMissionType()" class="btn btn-danger">Cancel</button></h2>
    </div>
</div> 

<ng-template #missionTypeSelector>
    <div class="jumbotron">
        <h2>Mission Size</h2>

        <div class="card-group">
            <div class="card border-info" *ngFor="let mt of missionTypes">
                <div class="card-title card-header">
                  <h3>{{ mt.Name }}</h3>
                </div>
                <div class="card-body text-info">
                  <p class="card-text">Minimum Size: {{ mt.MinSize }}</p>
                  <p class="card-text">Maximum Size: {{ mt.MaxSize }}</p>
                  <button class="btn btn-primary" (click)="setMissionType(mt)">Choose {{mt.Name}}</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
